


/* button{
    margin-right: 10;
    background-color: #4cb4c7;
} */


.widget{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}


#generate_button{
    width: 170px;
}


/* #password_field{
    padding-left: ;
} */

#details_input, #username, #password_field, #generate_button,#save_button{
    width: 10%;

}

.save_details{
    padding-top:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.savedPassField{
    width: 10%;
    position: absolute;
    background-color: inherit;
    outline: none;
}

/* input[type=password]{
    width: 10%;
    position: absolute;
    background-color: inherit;
    outline: none;

} */