
{% extends 'passwords/main.html' %}
{% load static %}
{% block content %} 
<!-- <head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head> -->

<div id="login-box" >
  
    <form method = "POST" action=""> 
    {% csrf_token %} 

    <div class="center">
      <h1>Sign up</h1>
      
      <!-- <input type="text" name="username" placeholder="Username" /> -->
      {{form.username}}
      <!-- <input type="text" name="email" placeholder="E-mail" /> -->
      {{form.email}}
      <!-- <input type="password" name="password" placeholder="Password" /> -->
      {{form.password1}}
      <!-- <input type="password" name="password2" placeholder="Retype password" /> -->
      {{form.password2}}
      
      <input type="submit" name="signup_submit" value="Sign me up" />

      {{form.errors}}
    </div>
    
  </div>


<script>
    var form_fields = document.getElementsByTagName('input') 
    form_fields[1].placeholder='Username';
    form_fields[2].placeholder='Email';
    form_fields[3].placeholder='Password';
    form_fields[4].placeholder='Retype Password';
</script>

{% endblock %}

