{% extends 'passwords/main.html' %}
{% load static %} 

{% block content %} 
<head>
  <script type="text/javascript" src="{% static '/js/savedPassword.js' %}"></script>
</head>

<html>
    <body>
        <div class="form-group"> 
            <form id ="myForm" method = "POST">
                {% csrf_token %} 
                <div class="container">
                    <table id="passwordTable" class="table table-striped">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-3" scope ="col">Site</th>
                                <th class="col-3" scope ="col">Username</th>
                                <th class="col-3" scope ="col">Password</th>
                                <th class="col-3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if list %}
                                {% for i in list %}
                                <tr class="d-flex">
                                    <td class="col-lg" name="site">{{i.site}}</td> 
                                    <td class="col-lg">
                                        {{i.userName}}
                                    </td>
                                    <td class="col-lg" id="{{i.id}}"> 
                                        {% for char in i.encryptedPass %}
                                            *
                                        {% endfor %}
                                    </td>
                                    <td class="col-sm " id="viewButton">
                                        <input type="button" id="view{{i.id}}" class="ibtnSave btn btn-info btn-sm" onclick="viewPassword('{{i.encryptedPass}}','{{i.id}}')" value="View">
                                        <a class="btn btn-danger btn-sm" href="{% url 'deleteDetails' i.id %}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <div class="alert alert-info d-flex justify-content-center" id = "infoAlert">
                                <strong>No details have been saved yet, add them below: </strong>
                            </div>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                              <td>
                                {% for message in messages %}
                                <div class="alert alert-info d-flex justify-content-center" id = "infoAlert">
                                  <strong>{{message}} </strong>
                                </div>
                                {% endfor %}                                
                              </td>
                            </tr>
                            <tr>
                                <td colspan="5" style="text-align: left;">
                                    <input type="button" class="btn btn-info btn-lg btn-block" id="addrow" value="Add Details" />
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </body>
</html>

{% endblock %}

