{% extends 'passwords/main.html' %}
{% load static %} 

{% block content %} 
<head>
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <script type="text/javascript" src="{% static '/js/javaScriptFile.js' %}"></script>
</head>

<html>
<body>
    <div class="form-group"> 
        <form id ="myForm" method = "POST">
        {% csrf_token %} 
        <div class="container">
            <table id="passwordTable" class="table table-striped">
            <thead>
                <tr class="d-flex">
                    <th class="col-3" scope ="col">Site</th>
                    <th class="col-3" scope ="col">Username</th>
                    <th class="col-3" scope ="col">Password</th>
                    <th class="col-3"></th>


                </tr>
            </thead>
            <tbody>
                {% if list %}
                    {% for i in list %}
                    <tr class="d-flex">

       
                        <td class="col-lg" name="site">{{i.site}}</td>
                                
   
                        <td class="col-lg">
                            {{i.userName}}
                        </td>
     
      
                        <td class="col-lg" id="{{i.id}}">
                            <!-- <input type="password" id="{{i.id}}" value={{i.encryptedPass}}> -->
                            {% for char in i.encryptedPass %}
                                *
                            {% endfor %}
                            <!-- {{i.encryptedPass}} -->
                        </td>

                        <td class="col-sm " id="viewButton">
                            <input type="button" id="view{{i.id}}" class="ibtnSave btn btn-info btn-sm" onclick="viewPassword('{{i.encryptedPass}}','{{i.id}}')" value="View">
                            <a class="btn btn-danger btn-sm" href="{% url 'deleteDetails' i.id %}">Delete</a>
                            
                        </td>


    
   


                    </tr>
                <!-- <tr>
                    <td>
                        {{i.site}}
                    </td>
                    <td> <input type="text" class="form-control"></td>
                        {{i.userName}}
                    </td>
                    <td> <input type="text" class="form-control"></td>
                        {{i.encryptedPass}}
                    </td>
                    <td>
                        <input type="button" class="ibtnDel btn btn-md btn-danger" value="Delete" onclick ="showPassword('{{i.id}}')"></button>
                    </td>
                </tr> -->
                {% endfor %}
            {% else %}
                <div class="alert alert-info d-flex justify-content-center" id = "infoAlert">
                    <strong>No details have been saved yet, add them below: </strong>
                </div>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: left;">
                    <input type="button" class="btn btn-lg btn-block" id="addrow" value="Add Row" />
                </td>
            </tr>
            <tr>
            </tr>
        </tfoot>
        </table>
        </div>
        </form>
    </div>
</body>
</html>



{% endblock %}

