{% extends 'passwords/main.html' %}
{% load static %} 

{% block content %} 
<head>
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <script type="text/javascript" src="{% static '/js/javaScriptFile.js' %}"></script>
</head>

<html>
<body>
    <div class="form-group"> 
        <form id ="myForm" method = "POST">
        {% csrf_token %} 
        <div class="container">
        <table id="passwordTable" class="table table-striped">
        <thead>
            <tr>
                <th scope ="col">Site</th>
                <th scope ="col">Username</th>
                <th scope ="col">Password</th>

            </tr>
        </thead>
        <tbody>
            {% for i in list %}
            <tr>
                <td>
                    {{i.site}}
                    <!-- <value='{{i.site}}' name="site" class="form-control" /> -->
                </td>
                <td>
                    {{i.userName}}
                    <!-- <input type="mail" name="mail"  class="form-control"/> -->
                </td>
                <td>
                    {{i.encryptedPass}}
                    <!-- <input type="password" id="{{i.id}}" value={{i.encryptedPass}}> -->
                    <!-- <input type="text" name="phone"  class="form-control"/> -->
                </td>
                <td>
                    <input type="button" class="ibtnDel btn btn-md btn-danger" value="Delete" onclick ="showPassword('{{i.id}}')"></button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: left;">
                    <input type="button" class="btn btn-lg btn-block" id="addrow" value="Add Row" />
                </td>
            </tr>
            <tr>
            </tr>
        </tfoot>
        </table>
        </div>
        </form>
    </div>
</body>
</html>



{% endblock %}

