{% extends 'passwords/main.html' %}
{% load static %}
{% block content %} 




<form method="POST" action="">
    {% csrf_token %}


    <div class="widget"> 
        <input type ="text" name="site" id="details_input" placeholder="Site Name" id="test-orders" >
    </div>
     <div class="widget"> 
        <input type ="text" id="username"  name="username" placeholder="User Name" > 
    </div>
    <div class="widget"> 
        <input type ="text"  name="password" id="password_field" placeholder="Password" >
        <button type="button" id="generate_button" onclick="generatePass()">Generate Password</button>
    </div>

    <div class="save_details">
        <input class="button" id="save_button" type="submit" value="Save Details">
    </div>
    
        

</form>


<script>
    function generatePass(){
        var passField = document.getElementById("password_field"); 
        var randomPass = Math.random().toString(36).substring(2,15) + Math.random().toString(36).substring(2,15);
        passField.value = randomPass;

    }

</script>


{% endblock %}